<div class="panel-heading media clearfix">
  <div class="media-body">
    <h3 class="media-heading"><%= @article.title %></h3>
    <div class="info">
      <div class="info small">
        <%= @article.node.name %>
        •
        <%= @article.user.full_name %>
        •
        <%= time_ago_now(@article.created_at) %>
      </div>
    </div>
  </div>
  <div class="media-right">
    <%= image_tag @article.user.avatar.url, :class => 'avatar'%>
  </div>
</div>
