<div id="article-sidebar" data-spy="affix" data-offset-bottom="65">
  <div class="panel panel-default">
    <div class="panel-body">
      <a href="#" class="btn btn-block btn-sm btn-move-page" data-type="top"><i class="fa fa-arrow-up"></i></a>
      <div class="buttons">
        <div class="group likes opts">
          <%= like_able_tag(@article) %>
          <%#= link_to((fa_icon 'heart-o',:text => '12个赞'), '#', title: '赞', 'data-count' => 12,
                      'data-state' => '', 'data-type' => 123213, 'data-id' => 123123,
                      class: "likeable ") %>
        </div>
        <div class="group">
          <div class="btn-group" role="group">
            <%= link_to((fa_icon 'bookmark',:text => '收藏'), '#', class: 'btn btn-default')%>
            <%= link_to((fa_icon 'bookmark',:text => '收藏'), '#', title: 123, class: "btn btn-default") %>
          </div>
        </div>
      </div>
      <hr />
      <div class="group">
        <%= social_share_button_tag (@article.title) %>
      </div>
      <hr />
      <div class="reply-buttons">
        <div class="total">
          共收到3 <b><%#= @topic.replies_count %></b> 条回复
        </div>
        <a href="#reply" class="btn btn-success btn-block btn-focus-reply">参与回复</a>
      </div>
      <hr />
      <div class="group opts">
        <% if false %>
            <% if !@topic.suggested_at.blank? %>
                <%= link_to raw("<i class='fa fa-thumb-tack'></i> 取消"), unsuggest_admin_topic_path(@topic), 'data-confirm' => '确定要取消置顶么?', method: :post %>
            <% else %>
                <%= link_to raw("<i class='fa fa-thumb-tack'></i> 置顶"), suggest_admin_topic_path(@topic), 'data-confirm' => '确定要置顶么?', method: :post %>
            <% end %>
            <% if !@topic.excellent? %>
                <%= link_to raw("<i class='fa fa-diamond'></i> 加精"), action_topic_path(@topic, type: 'excellent'), title: "设为精华帖" , method: "post", data: { confirm: "确定要设置成精华帖么？" } %>
            <% end %>
            <% if @topic.node_id != Node.no_point_id %>
                <%= link_to raw("<i class='fa fa-ban'></i> 屏蔽"), action_topic_path(@topic, type: 'ban'), method: 'post', title: "屏蔽此贴，移动到 NoPoint 节点" %>
            <% end %>
        <% end %>

        <% if false %>
            <% if can?(:close, @topic) %>
                <% if !@topic.closed? %>
                    <%= link_to raw("<i class='fa fa-lock'></i> 关闭"), action_topic_path(@topic, type: 'close'), method: 'post', title: "关闭话题，不再接受回帖" %>
                <% else %>
                    <%= link_to raw("<i class='fa fa-unlock-alt'></i> 开启"), action_topic_path(@topic, type: 'open'), method: 'post', title: "重新开启话题" %>
                <% end %>
            <% end %>
            <%= link_to "", edit_topic_path(@topic), class: "fa fa-pencil", title: "修改本帖" %>
            <% if can?(:destroy, @topic) %>
                <%= link_to "", topic_path(@topic.id), method: :delete, 'data-confirm' => t("common.confirm_delete"), class: "fa fa-trash", title: "删除本帖" %>
            <% end %>
        <% end %>
      </div>
      <a href="#" class="btn btn-block btn-move-page" data-type="bottom"><i class="fa fa-arrow-down"></i></a>
    </div>
  </div>

</div>

<script>

  $('.btn-move-page').click(function(e){
      var moveType, opts, target;
      target = $(e.currentTarget);
      moveType = target.data('type');
      opts = {
          scrollTop: 0
      };
      if (moveType === 'bottom') {
          opts.scrollTop = $('body').height();
      }
      $("body, html").animate(opts, 300);
      return false;

  })
</script>
