<section class="content">
<div class="row">
  <div class="col-md-9">
    <div class="topic-detail panel panel-default">
      <%= render partial: 'article_info', locals: { :@article => @article } %>

      <div class="panel-body markdown">
        <article>
          <%= markdown @article.body  %>
        </article>
      </div>

    </div>

    <div id="replies" class="panel panel-default" data-last-floor="<%#= @replies.count(:all) %>">
      <div class="total panel-heading">
        共收到 <b><%= 12 %></b> 条回复
      </div>
      <div class="items panel-body">
        <%= render partial: "/comments/comment", collection: @comments %>
      </div>
    </div>

    <div id="reply" class="panel panel-default">
      <div class="panel-heading">回帖</div>
      <div class="panel-body">
        <%= render 'comment_form' %>
      </div>
    </div>



  </div>

  <div class="article-sidebar col-md-3">
    <%= render 'article_sidebar' %>
  </div>
</div>
</section>
