<section class="content-header">
  <h1>
    Nodes
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">

          <h3 class="box-title">
            <%= link_to t('helpers.submit.create'), new_admin_node_path%>
          </h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>类别名称</th>
              <th>名称</th>
              <th>说明</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
            <tbody id="nodes">
            <% @nodes.each do |node| %>
                <tr>
                  <td><%= node.section.name %></td>
                  <td><%= node.name %></td>
                  <td><%= node.summary %></td>
                  <td><%= node.created_at %></td>
                  <td>
                    <%= link_to t('helpers.submit.edit'), edit_admin_node_path(node), :class => 'btn btn-sm btn-warning' %>
                    <%= link_to t('helpers.submit.destroy'), admin_node_path(node), 'data-confirm' => 'Are you sure?',:method => 'delete', :class => 'btn btn-sm btn-danger' %>
                  </td>
                </tr>
            <% end %>
            </table>
          </table>
        </div>

        <div class="box-footer clearfix" id="paginator">
          <%= paginate @nodes,:remote=>true,:theme => 'bootstrap3' %>
        </div>

      </div>

    </div>
  </div>
</section>