<section class="content-header">
  <h1>
    Sections
  </h1>
</section>

<section class="content">

  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">新建</h3>
      <%= render 'shared/box_tools' %>
    </div>

    <div class="box-body">
      <%= simple_form_for([:admin,@node]) do |f| %>
          <%= render 'shared/error_messages', target: @node %>
          <fieldset>
            <%= f.input :name %>
            <%= f.input :section_id, collection: Section.all.collect { |s| [s.name,s.id] } %>
            <%= f.input :sort %>
            <%= f.input :summary, as: :text %>
            <div class="form-group">
              <%= f.submit t('helpers.submit.submit'), class: "btn btn-primary" %>
              <%= link_to 'Back', admin_nodes_path, class: "btn btn-default" %>
            </div>
          </fieldset>
      <% end %>

    </div>

  </div>

</section>
<script>

</script>