<section class="content-header">
  <h1>
    Sections
  </h1>
</section>

<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">新建</h3>
      <%= render 'shared/box_tools' %>
    </div>
    <div class="box-body">
      <%= bootstrap_form_for([:admin,@section], :validate=>true, :html=>{:class=>"form-horizontal"}) do |f| %>
          <%= render 'shared/error_messages', target: @section %>
          <%= f.text_field :name, :class=>'form-control' %>
          <%= f.text_field :sort, :class=>'form-control' %>
          <%= f.submit t('helpers.submit.submit'),:class=>'btn btn-block bg-maroon' %>
      <% end %>
    </div>
  </div>
</section>
