<div class="sidebar col-md-4" id='sidebar'>
  <div class="panel profile panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <div class='image'><%= image_tag(@user.avatar.url, :class => 'avatar-lg') %></div>
        </div>
        <div class="media-body">
          <div class="item">
            <%= @user.full_name %>
            <span class="opts pull-right">
              <% if current_user == @user %>
                <%= link_to fa_icon('pencil', :text => '修改'), edit_user_path(@user.id) %>
              <% end %>
            </span>
          </div>
          <div class="item number">
            第 12 位 会员 | <span title="注册日期"><%= @user.created_at.to_date %></span>
          </div>
          <div class="item counts">
            <span><%= @user.articles.count %></span> 篇帖子 • <span><%= @user.comments.count %></span> 条回帖
          </div>
          <div class="item social">
            <% if !@user.twitter.blank? %>
              <%= link_to fa_icon('twitter'), @user.twitter_url, target: '_blank', class: "twitter", rel: "nofollow" %>
            <% end %>
            <% if !@user.github.blank? %>
              <%= link_to(fa_icon('github'), @user.github_url, target: '_blank', rel: 'nofollow') %>
            <% end %>
            <% if !@user.email.blank? %>
              <a href="mailto: <%= @user.email %>"><%= fa_icon 'envelope-o' %></a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="follow-info row">
        <div class="col-sm-4 followers">
          <%= link_to @user.follower_ids.length, followers_user_path(@user), class: 'counter' %>
          <%= link_to '关注者', followers_user_path(@user), class: 'text' %>
        </div>
        <div class="col-sm-4 following">
          <%= link_to @user.following_ids.length, following_user_path(@user), class: 'counter' %>
          <%= link_to '正在关注', following_user_path(@user), class: 'text' %>
        </div>
        <div class="col-sm-4 stars">
          <%= link_to @user.favorite_article_ids.length, favorites_user_path(@user), class: 'counter' %>
          <%= link_to '收藏', favorites_user_path(@user), class: 'text' %>
        </div>
      </div>

      <% if !owner? @user %>
        <div class="buttons row">
          <div class="col-sm-6">
            <%= follow_user_tag(@user) %>
          </div>

          <div class="col-sm-6">
          </div>
        </div>
      <% end %>

      <% if !@user.tagline.blank? %>
        <div class="tagline row">
          <%= @user.tagline %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render '/users/repos', user: @user %>
</div>
<script>

  $('.button-follow-user').click(function () {
    var btn, user_id, span, followerCounter
    btn = $(this);
    user_id = btn.data("id");
    span = btn.find("span");
    followerCounter = $(".follow-info .followers .counter");

    if (btn.hasClass("active")) {
      $.ajax({
        url: "/users/" + user_id + "/unfollow",
        type: "POST",
        success: function (res) {
          if (res.code === 0) {
            btn.removeClass('active');
            span.text("关注");
            return followerCounter.text(res.data.followers_count);
          };
        }
      });
    } else {
      $.ajax({
        url: "/users/" + user_id + "/follow",
        type: 'POST',
        success: function (res) {
          if (res.code === 0) {
            btn.addClass('active');
            span.text("取消关注");
            return followerCounter.text(res.data.followers_count);
          };
        }
      });
    }
    return false;
  });

</script>
