<div class="row">
  <%= render 'sidebar', user: @user %>
  <div class="col-md-8">
    <%= render 'menu' %>

    <div class="panel panel-default">
      <div class="panel-body">
        <table class="node-topics table table-hover">
          <tr class="head">
            <td class="node">Node</td>
            <td class="title">title</td>
            <td class="replies">comment</td>
          </tr>
          <% @articles.each do |article| %>
            <tr class="topic <%= cycle("odd", "") %>">
              <td class="node_name"><%= link_to(article.node.name, node_articles_path(article.node)) %></td>
              <td class="title_name"><%= link_to(article.title, article_path(article)) %>&nbsp;<em><%= time_ago_now(article.created_at) %></td>
              <td class="replies"><%= article.comments.count %></td>
            </tr>
          <% end %>
        </table>

      </div>
      <div class="box-footer clearfix" id="paginator">
        <!-- kaminari的bootstrap主题-->
        <%= paginate @articles, :remote => true, :theme => 'bootstrap3' %>
      </div>
    </div>
  </div>
</div>