<section class="content-header">
  <h1>
    User Profile Edit
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#"><%= @user.full_name %></a></li>
    <li class="active">User profile</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-3">
      <%= render 'sidebar' %>
    </div>
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t 'helpers.submit.edit' %></h3>
          <%= render 'shared/box_tools' %>
        </div>
        <div class="box-body">
          <%= form_for @user, :html=>{:class=>"form-horizontal"} do |f| %>
              <div class="form-group">
                <%= f.label t('users.full_name'), :class => 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :full_name, :class => 'form-control', :disabled => true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label t('users.email'), :class => 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <%= f.email_field :email, :class => 'form-control', :disabled=> true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label t('users.avatar'), :class => 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <%= f.file_field :avatar %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label t('users.city'), :class => 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :city, :class => 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label t('users.company'), :class => 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :company, :class => 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label t('users.github'), :class => 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <div class="input-group">
                    <span class="input-group-addon">https://github.com/</span>
                    <%= f.text_field :github, :class => 'form-control', :placeholder => '帐号' %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label t('users.twitter'), :class => 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <div class="input-group">
                    <span class="input-group-addon">https://twitter.com/</span>
                    <%= f.text_field :twitter, :class => 'form-control', :placeholder => '帐号' %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label t('users.language'), :class => 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <%= f.select :language, [['简体中文','zh-CN'],['English','en']], {}, :class => 'form-control select2' %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-danger">Submit</button>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>