<section class="content">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading hide-ios">个人资料设置</div>
        <div class="panel-body">
          <%= form_for @user, :html => {:class => ""} do |f| %>
            <div class="form-group">
              <%= f.label t('users.full_name') %>
              <%= f.text_field :full_name, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('users.email') %>
              <%= f.email_field :email, :class => 'form-control', :disabled => true %>
            </div>
            <div class="form-group">
              <%= f.label t('users.avatar') %>
              <%= f.file_field :avatar %>
            </div>
            <div class="form-group">
              <%= f.label t('users.city') %>
              <%= f.text_field :city, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('users.company') %>
              <%= f.text_field :company, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('users.github') %>
              <div class="input-group">
                <span class="input-group-addon">https://github.com/</span>
                <%= f.text_field :github, :class => 'form-control', :placeholder => '帐号' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label t('users.twitter') %>
              <div class="input-group">
                <span class="input-group-addon">https://twitter.com/</span>
                <%= f.text_field :twitter, :class => 'form-control', :placeholder => '帐号' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label '签名' %>
              <%= f.text_field :tagline, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('users.language') %>
              <%= f.select :language, [['简体中文', 'zh-CN'], ['English', 'en']], {}, :class => 'form-control select2' %>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">更新资料</button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default hide-ios">
        <div class="panel-heading">修改密码</div>
        <div class="panel-body">
          <%= form_for(@user, url: change_password_user_path) do |f| %>
            <%= render 'shared/error_messages', target: @user %>
            <div class="form-group">
              <%= f.label '旧密码' %>
              <%= f.password_field :password, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label '密码' %>
              <%= f.password_field :new_password, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.label '确认密码' %>
              <%= f.password_field :confirm_password, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.submit '更新密码', class: 'btn btn-success', 'data-disable-with' => '保存中' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="sidebar col-md-3 hide-ios">
      <div class="panel panel-default" style="text-align:center;">
        <div class="panel-body">
          <%= user_avatar_tag(@user, 'avatar-lg', {link: false}) %>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">删除账户</div>
        <div class="panel-body">
          <%= form_for(@user, :url => edit_user_path, :method => :delete) do |f| %>
            <%= render 'shared/error_messages', :target => @user %>
            <div class="form-group">
              <%= f.password_field :password, class: 'form-control', placeholder: '要删除帐号，请输入你的密码' %>
            </div>
            <%= f.submit '确定删除我的账号', :class => 'btn btn-danger btn-sm btn-block', 'data-disable-with' => '提交中' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>