<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Personal Practice</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>AdminLte</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <b>Malzahar</b>
  </div>

  <%= notice_message %>
  <div class="login-box-body">
    <%= form_tag 'sign_up' do %>

        <div class="form-group has-feedback">
          <%= text_field_tag :email,nil,{:class => "form-control", :placeholder => "Email"} %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= password_field_tag :password,nil,{:class => "form-control", :placeholder => "Password"} %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= check_box_tag :remember_me,1,false, {:class=>"flat-red"} %> remember me
        </div>

        <%= submit_tag '登录', :class => 'btn btn-primary btn-block btn-flat' %>

    <% end %>
    <!--<a href="#">I forgot my password</a><br>-->
    <!--<a href="register.html" class="text-center">Register a new membership</a>-->

  </div>

</div>

<script>
    $(function () {

        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

    });
</script>
</body>
</html>
