<div class="direct-chat-msg <%= current_user.id == message.send_user_id ? 'right' : nil %>">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-name pull-left"><%= message_user_name_chat(message, current_user) %></span>
    <span class="direct-chat-timestamp pull-right"><%= message.created_at.to_date %></span>
  </div>
  <%= message_user_avatar_chat(message, current_user) %>
  <div class="direct-chat-text">
    <%= message.message %>
  </div>
</div>