<section class="content-header">
  <h1>
    Food Demo
    <small>basic crud demo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Foods</a></li>
    <li class="active">Index</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><a href="/foods/new">New Food</a></h3>

          <div class="box-tools">
            <%= form_tag foods_path, :remote => true, :method => 'get'  do %>
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>name</th>
              <th>category</th>
              <th>number</th>
              <th>price</th>
              <th>country</th>
              <th>operation</th>
            </tr>
            <tbody id="foods">
            <% @foods.each do |food| %>
                <tr>
                  <td><span class="label" style="background-color: <%= food.color %>"><%= food.name %></span></td>
                  <td><%= food.category %></td>
                  <td><%= food.number %></td>
                  <td><%= food.price %></td>
                  <td><%= food.country %></td>
                  <td>
                    <%= link_to 'SHOW', food, :class => 'btn btn-sm btn-success' %>
                    <%= link_to 'EDIT', edit_food_path(food), :class => 'btn btn-sm btn-warning' %>
                    <%= link_to 'DELETE', food, :method => 'delete', :class => 'btn btn-sm btn-danger' %>
                  </td>
                </tr>
            <% end %>
            </table>
          </table>
        </div>
        <div class="box-footer clearfix" id="paginator">
          <!-- kaminari的bootstrap主题-->
            <%= paginate @foods,:remote=>true,:theme => 'bootstrap3' %>
        </div>

      </div>

    </div>
  </div>
</section>