<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Personal Practice</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>AdminLte</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition skin-red-light sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <a href="<%= root_url %>" class="logo">
      <span class="logo-mini"><b>MTR</b></span>
      <span class="logo-lg"><b>Malzahar</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= user_avatar_tag(current_user, 'avatar user-image', {:link => false}) %>
              <span class="hidden-xs"><%= current_user.full_name %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <%= user_avatar_tag(current_user, 'img-circle', {:link => false}) %>
                <p>
                  <%= current_user.tagline %>
                  <small><%= current_user.created_at %></small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to 'Profile', user_path(current_user), :class => 'btn btn-default btn-flat' %>
                </div>
                <div class="pull-right">
                  <%= link_to 'Sign out', logout_path, method: 'delete', :class => 'btn btn-default btn-flat' %>
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left">
          <%= image_tag current_user.avatar.url, :class => 'avatar', :alt => 'User Image' %>
        </div>
        <div class="pull-left info">
          <p><%= current_user.full_name %></p>
          <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <ul class="sidebar-menu">
        <li class="header">后台管理</li>

        <li class="treeview">
          <a href="#">
            <%= fa_icon 'dashboard' %> <span>用户管理</span> <%= fa_icon 'angle-left', :class => 'pull-right' %>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to (fa_icon 'circle-o', :text => 'Dashboard v1'), '' %>
            </li>
            <li>
              <%= link_to (fa_icon 'circle-o', :text => 'Dashboard v2'), '' %>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <%= fa_icon 'th' %></i> <span>分类导航</span> <%= fa_icon 'angle-left', :class => 'pull-right' %>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to (fa_icon 'circle-o', :text => '分类管理'), admin_sections_path %>
            </li>
            <li>
              <%= link_to (fa_icon 'circle-o', :text => '节点管理'), admin_nodes_path %>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to (fa_icon 'circle-o', :text => 'ChartJS'), '' %>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to (fa_icon 'circle-o', :text => 'General'), '' %>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to (fa_icon 'circle-o', :text => 'General Elements'), '' %>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to (fa_icon 'circle-o', :text => 'Simple tables'), '' %>
            </li>
          </ul>
        </li>

        <li class="header">Demo</li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-thumbs-up"></i> <span>Demo</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to (fa_icon 'circle-o', :text => 'Food'), admin_foods_path %>
            </li>
            <li>
              <%= link_to (fa_icon 'circle-o', :text => '自动完成'), '/practices/soulmate' %>
            </li>
            <li>
              <%= link_to (fa_icon 'circle-o', :text => 'wice-grid'), '/practices/soulmate' %>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <%= notice_message %>
    <%= yield %>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <%= link_to '简体中文', change_locale_path(locale: "zh-CN") %>&nbsp;
      <%= link_to 'English', change_locale_path(locale: "en") %>&nbsp;
      <b>smiledmiao</b> 2016
    </div>
    <strong>adminlte &copy; demo on rails by assets pipeline</strong>
  </footer>

  <div class="control-sidebar-bg"></div>
</div>
</body>
</html>
