<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Personal Practice</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>AdminLte</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="hold-transition skin-red-light layout-top-nav">
<div class="wrapper">

  <header class="main-header">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
      <div class="container">

        <div class="navbar-header">
          <a href="<%= root_url %>" class="navbar-brand"><b>Malzahar</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div id="main-nav-menu">
          <ul class="nav navbar-nav">
            <li><%= link_to '文章', articles_path %></li>
            <li><a href="#">图片</a></li>
            <li><a href="#">邮件</a></li>
          </ul>
        </div>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav navbar-right">

            <li class="nav-search hidden-xs hidden-sm">
              <form class="navbar-form form-search active" action="/search" method="GET">
                <div class="form-group">
                  <input class="form-control" name="search" type="text" value="" placeholder="搜索本站内容"/>
                </div>
                <i class="fa btn-search fa-search"></i>
              </form>
            </li>
            <% if current_user %>
                <li class=" messages-menu">
                  <a href="<%= notifications_index_path %>">
                    <i class="fa fa-envelope-o"></i>
                    <span class="label label-success"><%= unread_notify_count %></span>
                  </a>
                </li>

                <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= user_avatar_tag(current_user, 'avatar user-image', {:link => false}) %>
                    <span class="hidden-xs"><%= current_user.full_name %></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="user-header">
                      <%= user_avatar_tag(current_user, 'img-circle', {:link => false}) %>
                      <p>
                        <%= current_user.tagline %>
                        <small><%= current_user.created_at %></small>
                      </p>
                    </li>
                    <li class="user-body">
                      <div class="row">
                        <div class="col-xs-4 text-center">
                          <a href="#">Followers</a>
                        </div>
                        <div class="col-xs-4 text-center">
                          <%= link_to '发布', new_article_path %>
                        </div>
                        <div class="col-xs-4 text-center">
                          <a href="#">Friends</a>
                        </div>
                      </div>
                    </li>
                    <li class="user-footer">
                      <div class="pull-left">
                        <%= link_to 'Profile', user_path(current_user), :class => 'btn btn-default btn-flat' %>
                      </div>
                      <div class="pull-right">
                        <%= link_to 'Sign out', logout_path, method: 'delete', :class => 'btn btn-default btn-flat' %>
                      </div>
                    </li>
                  </ul>
                </li>
            <% else %>
                <li class=" messages-menu">
                  <a href="<%= register_path %>">注册</a>
                </li>
                <li class="messages-menu">
                  <a href="<%= login_path %>">登陆</a>
                </li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>
  </header>

  <div class="content-wrapper" style="padding-top:50px">
    <div class="container">
      <div class="row">
        <section class="content">
          <%= birthday_tag %>
          <%= notice_message %>
          <%= yield %>
        </section>
      </div>
    </div>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <%= link_to '简体中文', change_locale_path(locale: "zh-CN") %>&nbsp;
      <%= link_to 'English', change_locale_path(locale: "en") %>&nbsp;
      <b>smiledmiao</b> 2016
    </div>
    <strong>adminlte &copy; demo on rails</strong>
  </footer>

</div>
</body>

</html>
