<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Personal Practice</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>AdminLte</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="hold-transition skin-red-light layout-top-nav">
<div class="wrapper">

  <header class="main-header">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
      <div class="container">

        <div class="navbar-header">
          <a href="<%= root_url %>" class="navbar-brand"><b>Malzahar</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div id="main-nav-menu">
          <ul class="nav navbar-nav">
            <li><a href="#">文章<span class="sr-only">(current)</span></a></li>
            <li><a href="#">图片</a></li>
            <li><a href="#">邮件</a></li>
          </ul>
        </div>


        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav navbar-right">

            <li class="nav-search hidden-xs hidden-sm">
              <form class="navbar-form form-search active" action="/search" method="GET">
                <div class="form-group">
                  <input class="form-control" name="q" type="text" value="" placeholder="搜索本站内容" />
                </div>
                <i class="fa btn-search fa-search"></i>
              </form>
            </li>

            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">4</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 4 messages</li>
                <li>
                  <ul class="menu">
                    <li>
                      <a href="#">
                        <div class="pull-left">
                          <%= image_tag current_user.avatar.url, :class => 'img-circle', :alt => 'User Image' %>
                        </div>
                        <h4>
                          Support Team
                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer"><a href="#">See All Messages</a></li>
              </ul>
            </li>

            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag current_user.avatar.url, :class => 'avatar user-image', :alt => 'User Image' %>
                <span class="hidden-xs"><%= current_user.full_name %></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <%= image_tag current_user.avatar.url, :class => 'img-circle', :alt => 'User Image' %>
                  <p>
                    人得靠自己
                    <small><%= current_user.created_at %></small>
                  </p>
                </li>
                <li class="user-body">
                  <div class="row">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <%= link_to '发布',new_article_path %>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </div>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                    <%= link_to 'Profile', user_path(current_user), :class => 'btn btn-default btn-flat' %>
                  </div>
                  <div class="pull-right">
                    <%= link_to 'Sign out', logout_path, method: 'delete',:class => 'btn btn-default btn-flat' %>
                  </div>
                </li>
              </ul>
            </li>

          </ul>
        </div>

      </div>
    </nav>
  </header>

  <div class="content-wrapper" style="padding-top:50px">
    <div class="container">
      <div class="row">

        <%= yield  %>

      </div>
    </div>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <%= link_to '简体中文', change_locale_path(locale: "zh-CN") %>&nbsp;
      <%= link_to 'English', change_locale_path(locale: "en") %>&nbsp;
      <b>smiledmiao</b> 2016
    </div>
    <strong>adminlte &copy; demo on rails</strong>
  </footer>

</div>
</body>

</html>
